/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

.hero {background: #eafff7;}

@media only screen and (max-width: 767px) {
  .text-muted, .intro {display: none;}
  .hero {padding: 1.5rem; }
  .hero h1 {font-size: 1.5em;}
}
